.cadre-header{
    border:15px solid #27b9d5;
}
::ng-deep.btn-danger {
    background-color: #27b9d5;
    border-color: #27b9d5;
}
::ng-deep .carousel-indicators .active {
    background-color: #27b9d5;
}
::ng-deep .carousel-control-prev, .carousel-control-next {
    background-color: #27b9d5;
}
::ng-deep.carousel-control-next {
    background-color: #27b9d5;
}
.text-bluec{
    color:#27b9d5;
}
.title{
    color:#414143;
    font-weight: bold;
}
.title:after {
    position: absolute;
    content: '';
    height: 4px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 30%;
    top: 80%;
    background: #414143;

    /* optional animation */
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}
.title-client:after {
    position: absolute;
    content: "";
    height: 4px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 30%;
    top: 40%;
    background: #414143;
    transition: 0.5s;
}
.title-blog:after {
    position: absolute;
    content: "";
    height: 4px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 30%;
    top: 25%;
    background: #414143;
    transition: 0.5s;
}
.title-cata:after {
    position: absolute;
    content: '';
    height: 4px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 30%;
    top: 20%;
    background: #414143;

    /* optional animation */
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}
// ::ng-deep body > app-root > app-landing > div.page-header > div.container > div > div.col-6.cadre-header.p-0 > div > ngb-carousel > a.carousel-control-next{
   //     background-color: #27b9d5;
   // }
::ng-deep.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100%;
}
::ng-deep.page-header {
    background-color: transparent;
    min-height: 150vh;
    margin-top: -20vh;
}
::ng-deep.page-header .filter::after {
    background-color: rgba(0, 0, 0, 0.3);
}
::ng-deep .carousel-indicators {

    right: 0;
    top: -15%;
    left: -80% !important;
}


.filter-about{
    background-color: rgba(0, 0, 0, 0.5);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
}
.absolute-catalogue{
    position:absolute;
    z-index:9;
}


.blog-img-left{
    height: 100px;
    width: 100%;
    object-fit: cover;
}
.absolute-blog{
    position:absolute;
    bottom:5%;
    left:5%;
}
.img, .blog-img, .user-img {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.work {
    display: block;
    width: 100%;
    height: 270px;
    margin-bottom: 0;
    background-position: top center !important;
    z-index: 0;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
}
.work .icon {
    position: absolute;
    top: 50%;
    right: 50%;
    width: 70px;
    height: 70px;
    content: '';
    z-index: 1;
    background: #27b9d5;
    -webkit-transform: translate(50%, 50%);
    -ms-transform: translate(50%, 50%);
    transform: translate(50%, 50%);
    margin-top: -70px;
    opacity: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.image-popup {
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}
.work .desc {
    z-index: 1;
}
.work h2 {
    color: #fff;
    line-height: 1.2;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}
.work h2 a {
    color: #fff;
}
.work .text span {
    color: rgba(255, 255, 255, 0.5);
}
.work .icon span {
    color: #fff;
}
.work:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: #fff;
    opacity: 0;
    z-index: 0;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.work:hover:after {
    opacity: .3;
}
.work:hover .icon {
    opacity: 1;
}


.mask
{
    z-index: 100;
    position: absolute;
    top: 0;
    left: 30%;

}


.icon-img
{
    position: relative;
    left: -5%;
    top: 20%;
    z-index: 120;
    font-size:72px;
    opacity: 0;
    color: darkgrey;
}

.img-card
{
    position: absolute;
    left:30%;
    width: 140px;
    height: 160%;
    object-fit: cover;
}

.cardI
{
    position: relative;
    height: 100%;
    margin: 0px 120px 200px 120px ;

    background-size:cover;
}

.icon-img:hover
{
    opacity: 1;
}

.icon-img:hover + .filter
{
    background-color: lightgoldenrodyellow;
}

.cardT
{
    position: absolute;
    bottom: -180px;
    left: 30%;
    width: 150px;
    z-index: 100;
}
